@model List<MyFood.com.Entity.Menu>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="w3l-products py-5" id="projects">
    <div class="container py-lg-3">
        <div class="header-section text-center mx-auto">
            <span class="subhny-title text-center mb-2">Quick Pick</span>
            <h3 class="hny-title text-center mb-5">Popular Goods</h3>
        </div>
        <div class="mt-5">
            <div class="mx-auto">
                <!--Horizontal Tab-->
                <div id="parentHorizontalTab">
                    <div class="resp-tabs-container hor_1">
                        <div class="products-content">
                            <div class="row">
                               @foreach (var item in Model)
                                {
                                    <div class="col-lg-3 col-sm-6 mt-4">
                                        <div class="content">
                                            <a href="#url">
                                                <img src="@item.ImageURL" class="img-fluid" alt="">
                                                <div class="lte-item-descr text-center">
                                                    <ul class="star-rating d-flex justify-content-center">
                                                        <li>
                                                            <a href="#">
                                                                <span class="@item.Star1  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="@item.Star2 mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="@item.Star3  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="@item.Star4  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <span class="@item.Star5  mr-1"
                                                                      aria-hidden="true"></span>

                                                            </a>
                                                        </li>


                                                    </ul>
                                                    <h4 class="product-title">
                                                        @item.Title
                                                    </h4>

                                                   @if (item.Text.Length>40)
                                                    {
                                                        <p class="mb-4" title="@item.Text">
                                                            @item.Text.Remove(39) ...
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="mb-4" title="@item.Text">
                                                            @item.Text
                                                        </p>
                                                    }
                                                    <span class="price">
                                                        <span class="amount">
                                                            <span class="price-currency=">$</span>@item.Price 
                                                            <del style="color:red;"><span class="price-currency=">$</span>@item.Discount</del>
                                                        </span>
                                                    </span>

                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                }
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>